<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/addCourses.css" />
  <title>Add Course</title>
</head>

<body>
  <%- include("header") %>

  <h1>Add Course</h1>

  <% if (errors) { %>
  <% errors = errors.split(',') %>
  <% errors.forEach(el => { %>
  <p class="p-error" style="color: red; font-weight: bold;"><%= el %></p>
  <% }) %>
  <% } %>

  <form action="/courses/add" method="post">
    <label>Name</label>
    <input type="text" name="name" />

    <label>Description</label>
    <textarea name="description"></textarea>

    <label>Price</label>
    <input type="number" name="price" />

    <label>Category</label>
    <select name="category">
      <option selected disabled hidden>--Choose--</option>
      <% ["Pemrograman", "Web Dasar", "Backend", "Database"].forEach(category => { %>
      <option value="<%= category %>"><%= category %></option>
      <% }) %>
    </select>

    <button type="submit">Add Course</button>
  </form>
  <%- include("footer") %>
</body>

</html>