<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Course Materials</title>
</head>

<body>
  <h1>Course Material</h1>

  <%- include("header") %>

  <h2 class="course-name"><%= courseData.name %></h2>

  <a href="/courses/<%= courseData.id %>/materials/add">Add new Material</a>
  <table border="1">
    <thead>
      <tr>
        <th>Course Material</th>
        <th>fileUrl</th>
        <th>Actions</th>
      </tr>
    </thead>

    <% data.forEach(el => { %>
    <tr>
      <td><%= el.name %></td>
      <td><%= el.fileUrl %></td>
      <td>
        <a href="/courses/<%= courseData.id %>/materials/<%= el.id %>/edit">Edit</a>
        <a href="/courses/<%= courseData.id %>/materials/<%= el.id %>/delete" onclick="return confirm('Are you sure want to delete?')">Delete</a>
        <a href="/courses/<%= courseData.id %>/materials/<%= el.id %>/finish" onclick="return confirm('Mark as finished?')">Finished</a>
      </td>
    </tr>
    <% }) %>
  </table>

  <%- include("footer") %>
</body>

</html>